# 595

In [ ]:
Select name, population, area FROM World
where area > 3000000
or population > 25000000

# 627 Swap Salary

In [3]:
Update salary  
SET sex = 
case sex
when 'f' then 'm'
when 'm' then 'f'
else '0' 
end

# 620. Not Boring Movies

In [ ]:
Select id, movie, description, rating
from cinema
where (id % 2) = 1
and description != 'boring'
order by rating DESC

# 626. Exchange Seats

case 条件 if 
返回值

一个表内部对比，交换。 子查询

In [7]:
Select id, 
( case
    when (id % 2) = 1 and id = (select max(id) from seat) then student
    when (id % 2) = 0 then (select student from seat as p where p.id = o.id - 1)
    ELSE (Select student from seat as q where q.id = o.id + 1)
    End) as student
from seat as o

# 182. Duplicate Emails

In [ ]:
Select Email from Person
group by Email
having count(Email) > 1

# 175. Combine Two Tables

In [ ]:
Select FirstName, LastName, City, State
from Person as a 
left join Address as b
on a.PersonID = b.PersonID

# 181. Employees Earning More Than Their Managers

In [ ]:
# Write your MySQL query statement below

Select Name as Employee
from Employee as a 
where a.Salary > 
(Select Salary from Employee as b
                 where b.Id = a.ManagerId)

# 183. Customers Who Never Order

In [ ]:
Select Name as Customers 
from Customers  as a
left join Orders as b
on a.Id = b.CustomerId
where b.Id is null

# Human Traffic of Stadium

一个表中连续几行  |  多表inner join

inner join多个条件，on （） or/and

In [ ]:
Select Distinct(s1.id), s1.date, s1.people from stadium as s1
inner join stadium as s2
inner join stadium as s3 
on ( (s1.id = s2.id - 1) and (s1.id = s3.id - 2) )
or ( (s1.id = s2.id + 1) and (s1.id = s3.id - 1) )
or ( (s1.id = s2.id + 2) and (s1.id = s3.id + 1) )
where s1.people >= 100
and s2.people >= 100
and s3.people >= 100
order by s1.id ASC

# 596. Classes More Than 5 Students

In [ ]:
Select class from courses
group by class
having count(Distinct student) >= 5

# 197. Rising Temperature

MySQL 日期函数

In [ ]:
Select s1.Id from Weather as s1
inner join Weather as s2
on TO_DAYS(s1.RecordDate) = TO_DAYS(s2.RecordDate) + 1
where s1.Temperature > s2.Temperature

# 178. Rank Scores

In [ ]:
Select s1.Score, s4.rank as Rank from Scores as s1
inner join

( Select s2.Score, count( Distinct s3.Score) as rank from Scores as s2
inner join Scores as s3
where s2.Score <= s3.Score 
group by s2.Score ) as s4
on s1.Score = s4.Score

order by s1.Score DESC

# 176. Second Highest Salary 👀

In [ ]:
Select max(Salary) as SecondHighestSalary
from Employee
where Salary < (Select max(Salary) from Employee)